* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 90%;
  overflow-x: scroll;
  margin: 0 auto;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
